# Classification assignment

** Objective **

We will be testing your understanding of Logistic Regression and Naive Bayes. We will use the Kiva dataset "Use" column to predict the sector the loans came from. 

** Application of assignment in real life **

Imagine if Kiva didn't have a sector classification of their loans. This prediction algorithm could be used on a small set of data they have already classified manually, to be used to auto-classify all their loans.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import string

from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer
from nltk import word_tokenize
from nltk.corpus import stopwords
from sklearn.naive_bayes import MultinomialNB

from sklearn import linear_model

from sklearn.metrics import accuracy_score

In [2]:
# Load the data
path = '../data/'
filename = 'loans.csv'
data = pd.read_csv(path+filename)

In [3]:
# Clean the data by removing empty values in the "Use" column
data_final = data.loc[data['use'].notnull()]
data_final.head()

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
17,767909,300,12,funded,2014-09-15T11:10:34Z,300,10,BJ,Arts,Ahmed Baba is a Beninese artisan who specializ...,to invest in a bulk purchase of raw materials ...
18,1266423,50000,1519,funded,2017-04-18T06:42:43Z,50000,12,BJ,Agriculture,"<a href=""http://agpowerbenin.com/""> Tolaro Glo...",to add value and jobs to the local economy by ...
19,1480779,50000,1574,funded,2018-04-06T22:46:13Z,50000,14,BJ,Agriculture,"In February 2017, MCE made a 12-month loan of ...",to promote the growth of the business by trans...
201,1563183,2200,2,funded,2018-07-12T17:48:22Z,2200,6,BF,Food,"Haoua N°2 is 40 years old, married, and the m...",to pay for vegetables to sell.
202,1563224,950,2,funded,2018-07-12T17:48:23Z,950,6,BF,Food,Bintou just finished her first Kiva loan. The ...,"to buy bags of pearl millet, sugar, and powder..."

# Logistic Regression

In [13]:
# Prepare the data with lemmatization
vectorizer = CountVectorizer(tokenizer=word_tokenize, stop_words = 'english')
X = vectorizer.fit_transform(data_final['use'].values)
y = data_final['sector']

In [15]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [78]:
# Train the model
logistic_model = linear_model.LogisticRegression(C=1, penalty='l1')
logistic.fit(X_train, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [79]:
# Test the model
preds_lr = logistic.predict(X_test)

In [80]:
# Check the accuracy
accuracy_score(preds_lr, y_test)

0.7992957746478874

# Naive Bayes

In [81]:
# Split the data into train and test sets
train, test = train_test_split(data_final, test_size=0.2, random_state=42)

In [86]:
# Prepare the data with lemmatization
vectorizer = CountVectorizer(tokenizer=word_tokenize, stop_words = 'english')
train_features = vectorizer.fit_transform(train['use'])
test_features =  vectorizer.transform(test['use'])

In [87]:
# Train the model
nb_model = MultinomialNB()
nb_model.fit(train_features, train['sector'])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [88]:
# Test the model
preds_nb = nb_model.predict(test_features)

In [89]:
# Check the accuracy
accuracy_score(preds_nb, test['sector'])

0.7834507042253521

# Comparing models

In [90]:
# Compare the models using an accuracy score
def compare_models(logistic_model, naive_bayes_model):
    'Inputs the model and returns the accuracy for both'
    logistic_accuracy = accuracy_score(preds_lr, y_test)
    naive_bayes_accuracy = accuracy_score(preds_nb, test['sector'])
    return logistic_accuracy, naive_bayes_accuracy

# Qualitative checks for understanding

** 1) What is one way you could improve the model to better predict the sectors? ** 

*TYPE YOUR RESPONSES HERE*

** 2) What are the logistic regression assumptions we need to check for? Have we met them? **

*TYPE YOUR RESPONSES HERE*

** 3) How can we interpret the logistic regression coefficients in this case? **

*TYPE YOUR RESPONSES HERE*

# Test answers

In [92]:
# Test the accuracy of the models
compare_models(logistic_model, nb_model) == (0.7992957746478874, 0.7834507042253521)

True

In [75]:
# Pull the wrong predictions rows for logistic regression
msk = preds_lr != y_test
wrong_predictions = pd.DataFrame(y_test[msk], columns = ['sector'])
pd.merge(wrong_predictions, data_final, left_index=True, right_index=True)

,sector_x,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector_y,description,use
4345,Services,969071,900,33,funded,2015-10-28T14:25:04Z,900,25,ZA,Services,"Mabel,51, is married and a mother to 1 girl an...",to buy knitting sets and a new sewing machine ...
732,Retail,1543044,450,17,funded,2018-06-18T13:30:46Z,450,9,CM,Retail,Abubakar is a young man of 36. He is single an...,to buy hair extensions and other beauty products.
2699,Food,1546977,3750,127,funded,2018-06-21T08:32:37Z,3750,6,MW,Food,Martha is a member of the Kachere Group and is...,"to pay for more sugar, soap, salt, squash, and..."
3588,Food,1548097,3725,126,funded,2018-06-22T15:43:30Z,3725,6,RW,Food,Greetings from Rwanda! This is Abishyizehamwe ...,"to buy more sugar, salt and rice to sell at th..."
4238,Health,1352912,50000,1646,funded,2017-08-22T18:16:34Z,50000,20,ZA,Health,The Problem<P>In developing countries like Ind...,to fund primary healthcare projects in South A...
716,Retail,1548927,550,18,funded,2018-07-14T03:30:48Z,550,15,CM,Retail,Hermine Carole is a young woman aged 34. She l...,to buy business supplies.
3199,Services,1539030,525,16,funded,2018-05-29T23:19:15Z,525,18,MZ,Services,Mariamo is 27 years old. She is the single mot...,Mariamo to buy equipment for preschool.
950,Retail,620547,5550,160,funded,2013-10-24T13:37:00Z,5550,6,CG,Retail,Basile is one of the members of the group Que ...,to buy cartons of milk and large sacks of sugar.
5829,Retail,1572584,1400,0,fundraising,NaN,0,9,ZW,Retail,Judith is a 44 year old mother of four. Her hu...,"to buy clothes, shoes and blankets."
1024,Food,1543579,2650,82,funded,2018-07-01T19:11:44Z,2650,6,CD,Food,"Noella, who is a customer of IMF Hekima, is th...","to buy 300 kilos of beans, including transport..."
1850,Housing,1572425,300,0,fundraising,NaN,0,14,KE,Housing,Jane is 40 years old. She is married with no c...,to purchase cement and sand for renovating the...
720,Services,1549061,375,11,expired,NaN,300,15,CM,Services,"Emmanuel is a young, 26-year-old man living wi...",to move to a different site.
5080,Retail,1571514,350,9,funded,2018-07-23T07:12:32Z,350,10,UG,Retail,Joan is 25 years old and lives in the town of ...,to purchase more rice and sugar.
4495,Retail,837858,625,19,funded,2015-02-10T01:57:07Z,625,6,SS,Retail,Alice is a 29-year-old married mother of two c...,To buy more clothes for the customers.
400,Food,1530078,550,7,funded,2018-05-20T19:50:52Z,550,5,BF,Food,"Ramata is fifty- seven years old, married and ...",to buy cereal for resale.
698,Wholesale,1552637,375,15,funded,2018-06-21T09:44:45Z,375,15,CM,Wholesale,"Marie Louise is thirty-nine years old, married...",to increase and diversify her stocks of drinks.
719,Retail,1549040,900,16,funded,2018-07-15T01:48:38Z,900,15,CM,Retail,Pierre Sévérin is 37 years old with one child ...,to augment his cupboards.
4925,Clothing,1561681,550,22,funded,2018-07-20T22:25:58Z,550,11,TG,Clothing,Amele is a married woman aged 41 who lives in ...,to buy 20 lengths of pagne [traditional cloth].
3799,Retail,1496741,2175,63,funded,2018-04-21T08:15:56Z,2175,8,SN,Retail,This group is made up of 23 women who have cre...,to buy shoes and chickens for resale.
2449,Services,1567613,125,5,funded,2018-07-21T17:50:44Z,125,10,MG,Services,Marie Chantal thanks all those who gave her he...,to buy a secondhand machine for manufacturing.
1063,Retail,1536755,5000,110,funded,2018-07-18T14:16:21Z,5000,8,CD,Retail,Jessika is a client of the microfinance firm H...,"to buy 6 tires, 2 cans of engine oil, 10 shock..."
4306,Services,1029636,2900,111,funded,2016-03-17T20:24:46Z,2900,27,ZA,Services,Allan is a 32-year-old father of three. The fo...,to buy a car.
484,Retail,1135648,4500,89,funded,2016-09-15T02:55:21Z,4500,10,BI,Retail,Ernest is a member of the Muzinda group and li...,to buy a large amount of rice and beans to res...
3481,Services,1556427,6925,229,funded,2018-07-01T15:57:36Z,6925,27,RW,Services,Joyeuse is a married 41-year-old who lives in ...,to buy a delivery van to reach more customers ...
718,Retail,1549008,650,9,expired,NaN,225,15,CM,Retail,Martine is a 44-year-old woman who lives in co...,to fill her shelves.
5102,Food,1571454,150,5,funded,2018-07-22T19:23:48Z,150,8,UG,Food,Shivan is 17 years old and lives in the town o...,to buy more crates of soda.
237,Agriculture,1562533,1100,43,funded,2018-07-19T22:20:45Z,1100,8,BF,Agriculture,Haoua is the representative of the Nongtaaba S...,to buy four sacks of fertiliser.
5888,Retail,1570722,200,8,funded,2018-07-22T20:58:47Z,200,14,ZW,Retail,Abigail is a 27-year-old entrepreneur who live...,to buy goods for her flea market stall.
332,Retail,1541774,1575,47,funded,2018-06-02T06:12:55Z,1575,6,BF,Retail,Mr. Daouda is the leader of the Pang Ya Wend g...,to buy 1000 calabashes.
4968,Clothing,1559015,900,23,fundraising,NaN,625,12,TG,Clothing,"Married and aged 43, Adjo Deborah is a woman w...","to buy 10 dozen children's outfits, 10 dozen b..."
...,...,...,...,...,...,...,...,...,...,...,...,...
4021,Retail,907161,3500,106,funded,2015-07-07T18:09:03Z,3500,10,SO,Retail,Xaawa is a 55-year-old businesswoman. She has ...,to buy more sheep and goats to increase her in...
5396,Retail,1528140,200,7,funded,2018-05-16T03:17:43Z,200,15,CD,Retail,Cecile was working in a health centre in her a...,to buy different items and food products to re...
4856,Food,1568796,200,8,funded,2018-07-24T12:55:42Z,200,9,TG,Food,"Married, Akouagan is a woman who lives in Toko...","to buy 3 bags of sugar, 26 basins of bissap (h..."
3932,Food,1565402,150,6,funded,2018-07-15T19:08:26Z,150,12,SL,Food,"Greetings from Sierra Leone, Fullah town a com...",to buy assorted drinks and pure water for resale.
1065,Retail,1537419,4700,138,funded,2018-06-28T23:04:56Z,4700,6,CD,Retail,Madame Christine is the president of the banc ...,to purchase 250 kg of cornstarch and 20 wrap-a...
4319,Food,995889,1350,44,funded,2015-12-20T04:19:44Z,1350,23,ZA,Food,Lovey is a single mother of one. She is a youn...,"to buy a braai (barbecue) stand, deep freezer,..."
4932,Retail,1561762,275,8,funded,2018-07-09T16:52:11Z,275,9,TG,Retail,"Esse is a married woman, 32 years old, living ...",to pay for 2 bales of sponges.
1692,Food,24066,225,6,funded,2007-11-15T20:10:15Z,225,8,CI,Food,Ouattara K. is 39 years old and has 6 children...,Purchase of goods for a catering business.
5887,Agriculture,1570721,1600,6,fundraising,NaN,150,8,ZW,Agriculture,32-year-old Moblin lives in Kasimbwi village. ...,to add another batch of 100 birds.
4234,Services,1238917,3075,114,funded,2017-02-22T14:43:51Z,3075,27,ZA,Services,"Siyabulela is a father to four children, three...",to buy a van.
4023,Retail,913110,2000,64,funded,2015-07-14T08:48:41Z,2000,14,SO,Retail,Abdiqadir Dayib is 29 years old; he Is married...,"To buy baby products, snacks, sweets and drink..."
1433,Arts,1570723,1000,33,funded,2018-07-22T12:35:27Z,1000,11,GH,Arts,George is a wood carver from Ghana who special...,to invest in a bulk purchase of wood.
4860,Retail,1567661,550,22,funded,2018-07-22T19:08:42Z,550,7,TG,Retail,"ABLA is a married woman, 28 years old, living ...",to pay for 3 lengths of Hollandais 'pagne' cloth.
662,Clothing,1552563,900,36,funded,2018-07-21T09:56:31Z,900,14,CM,Clothing,Adèle is a married woman aged 36 who has five ...,to buy bundles of items of underwear.
740,Food,1546047,725,25,funded,2018-07-06T20:30:13Z,725,15,CM,Food,"This is a young woman, 38 years old, who is un...",to pay for basic staple foods to sell in her s...
1794,Manufacturing,15596,1200,13,funded,2007-08-07T00:08:44Z,1200,17,CI,Manufacturing,Al T. is a 34 year old man. He is married and ...,To acquire modern ice cream bag processing equ...
1569,Wholesale,1559150,1275,50,funded,2018-07-22T14:56:11Z,1275,14,GH,Wholesale,Vida is 44 years of age and married with three...,to export and import more goods for customers.
1098,Retail,1555187,850,31,funded,2018-07-08T02:33:09Z,850,13,CD,Retail,Pélagie realized that her own reserves were we...,"to buy rice, peanuts, palm oil, etc. to sell."
3161,Services,1544609,850,8,expired,NaN,275,18,MZ,Services,"André is 42 years old, married, and the father...",to make car repairs.
2581,Services,1561661,125,5,funded,2018-07-08T02:51:13Z,125,7,MG,Services,Nambinitsoa is 20 years old and married. Her ...,to buy credit refills for the call shop.
3106,Wholesale,1545874,325,7,funded,2018-06-18T09:54:16Z,325,20,MZ,Wholesale,"Arlindo is a 35-year-old, single businessman. ...",to buy food for resale.
3604,Retail,1543737,7050,50,expired,NaN,1450,8,RW,Retail,"Greetings from Rwanda! This is Abizerwa Cb, a ...",to buy more body lotion to sell at the market ...
4846,Food,1568753,1075,0,fundraising,NaN,0,13,TG,Food,Dovi is a 50-years-old married woman who lives...,to buy sacks of detergent and cartons of tomat...
1780,Clothing,17588,1200,35,funded,2007-09-05T18:17:23Z,1200,17,CI,Clothing,A. Lucienne has been selling ladies fashion at...,Adoni Lucienne will use the loan to purchase m...
1951,Agriculture,1571324,500,0,fundraising,NaN,0,14,KE,Agriculture,Victoria is 35 years old. She is married and b...,"to buy seedlings for kale, spinach, carrots, etc."
5974,Retail,1570237,750,1,funded,2018-07-21T03:17:44Z,750,8,ZW,Retail,Faith is a female aged 27 years living in Hara...,to purchase additional stock of bedding sheets...
850,Food,782733,5450,113,funded,2014-10-17T15:54:41Z,5450,5,CG,Food,"As the single father of three children, Nestor...","to purchase canned goods, soap and various oth..."
5828,Retail,1572574,1000,1,fundraising,NaN,25,9,ZW,Retail,Juliet is 40 years old and grew up in a poorly...,to restock 50 broilers and clothes from Mozamb...
660,Retail,1563192,275,11,funded,2018-07-13T02:01:41Z,275,19,CM,Retail,Margaret is a widow and blessed with six child...,"to buy bags of rice, tins of groundnut oil, Ma..."
2722,Wholesale,1527151,250,9,funded,2018-05-30T20:02:01Z,250,13,MW,Wholesale,Rose is a 24-year-old entrepreneur who lives w...,"To buy more stock for her shop, and she intend..."

In [40]:
# Pull the wrong prediction rows for naive bayes
msk = preds_nb != test['sector']
test[msk]

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
3092,1557041,850,20,fundraising,NaN,575,21,MZ,Housing,"Hemitério is 47 years old, a teacher, married ...","to buy cement, doors, locks and a toilet seat ..."
5302,1547138,300,10,funded,2018-06-14T12:20:12Z,300,10,CD,Construction,Léa is a seller of juices of a various qualiti...,to buy renovation materials for the house and ...
1496,1566087,275,6,funded,2018-07-15T10:07:51Z,275,9,GH,Manufacturing,"Stephen is 36 years old, married and has three...","to buy a welding machine, grinding machine and..."
2598,1562318,900,32,funded,2018-07-11T13:35:11Z,900,10,MG,Manufacturing,Marie Solange is very happy because the previo...,to buy a new industrial sewing machine and 50 ...
299,1557395,450,18,funded,2018-06-28T12:45:59Z,450,10,BF,Clothing,"Pagomdgoalma is the leader of the ""Sebe Allahy...",to buy 20 lots of pagnes.
4508,807625,800,30,funded,2014-12-03T20:57:01Z,800,7,SS,Retail,"A loan of 2,500 SSP helps James to buy differe...",To purchase more goods to sell.
1504,1563158,1050,34,funded,2018-07-11T17:51:00Z,1050,8,GH,Education,Charles is sixty-two years of age. He lives in...,to buy furniture for his school.
572,1035058,2600,85,funded,2016-03-31T00:54:33Z,2600,8,BI,Clothing,Joseph is a member of the Vehasi group and he ...,to increase his capital and buy large quantiti...
375,1534649,725,2,funded,2018-05-24T19:55:29Z,725,5,BF,Clothing,The group named “Nerwaya” just finished its fi...,to purchase traditional fabric for resale.
1620,1294308,50000,1706,funded,2017-05-18T05:06:35Z,50000,10,CI,Agriculture,CAJU is a nut processing business in rural Ivo...,double cashew nut export output and hire about...
1687,23661,1175,39,funded,2007-11-13T02:07:45Z,1175,14,CI,Arts,Aboh Richmond K. is 34 years old. He lives wi...,Aboh Richmond Koffi will use the loan to purch...
2587,1562115,300,9,funded,2018-07-10T12:20:14Z,300,7,MG,Retail,Edmondine is 34 years old and separated from h...,to buy four suitcases and five backpacks.
570,1032974,2525,52,funded,2016-03-08T23:00:18Z,2525,7,BI,Retail,"Zéphilin is a member of the Kwizera group, and...",to increase his capital and buy a large quanti...
729,1542992,900,23,funded,2018-06-07T08:41:46Z,900,8,CM,Retail,"Sidoine is a 27-year-old young woman, engaged ...",to buy mattresses and carpets.
2529,1563643,375,15,funded,2018-07-14T18:48:15Z,375,12,MG,Agriculture,Thanks to Blandine’s hard work and the financi...,to buy coal debris and rice husk for brick ma...
4999,1555348,275,10,funded,2018-06-27T13:24:32Z,275,9,TG,Services,51-year-old Enyonam is married. She lives in A...,"to buy 11 pieces of ""Hitarget"" pagne, 5 rolls ..."
3312,1563971,800,30,funded,2018-07-18T16:16:22Z,800,14,NG,Services,Oluchi is 38 years old and a mother of five ch...,to process palm oil for storage.
5026,1572886,550,0,fundraising,NaN,0,12,UG,Services,Martin is a hardworking man. He is married wit...,to buy motorcycle spare parts.
1380,1540648,575,17,funded,2018-06-18T21:26:03Z,575,14,EG,Services,"Mohammad is 37, married and has two children. ...",to buy some tires and car lubricants.
2735,1527178,125,5,funded,2018-05-30T10:36:30Z,125,13,MW,Food,Magret is a 24-year-old entrepreneur who lives...,To expand her current business as well as dive...
1749,17604,950,36,funded,2007-09-06T01:40:21Z,950,14,CI,Agriculture,"Adama M., is a single mother, born in1968 in t...",Adama Mawa will use the loan to purchase goods.
4063,750875,6100,110,funded,2014-08-25T22:11:50Z,6100,8,SO,Construction,Abdirahman is a 49-year-old man. He has 8 chil...,to receive cement and required materials for h...
609,1566286,550,1,fundraising,NaN,25,15,CM,Food,Mr. Louis Marie is a 52-year-old man. He is wi...,to buy merchandise.
3741,1516454,3850,114,funded,2018-05-20T14:46:23Z,3850,8,SN,Agriculture,This group is part of the banc villageois that...,to purchase one steer.
221,1559772,1050,38,funded,2018-07-18T05:12:49Z,1050,8,BF,Services,Mamou is 26 years old and married. She has wor...,to buy notions for her dressmaking workshop.
5700,1567659,625,10,funded,2018-07-18T00:24:26Z,625,7,TZ,Food,Hadija is 28 years old and she is a single mot...,"to buy more utensils such as plates, saucepan..."
5610,1430505,4250,154,funded,2017-12-18T17:42:27Z,4250,25,ZM,Personal Use,Evone is a 36-year-old woman who farms with he...,to purchase renewable energy products that wil...
330,1541711,550,21,funded,2018-06-01T15:38:30Z,550,8,BF,Services,Salifou is the representative of the L' Amitié...,to buy 10 dozen inner tubes.
592,1021359,2875,103,funded,2016-02-26T09:29:58Z,2875,14,BI,Clothing,Pascasie is part of the Rukundo group and live...,to increase her capital and buy clothes to res...
495,1144637,2075,49,funded,2016-09-14T19:20:15Z,2075,7,BI,Retail,Zuhura is a member of the Tunamerimwe group a...,to increase her capital buying a large quantit...
...,...,...,...,...,...,...,...,...,...,...,...
1761,15603,750,23,funded,2007-08-12T00:26:20Z,750,10,CI,Clothing,D. Pauline is a dynamic 39-year-old single mot...,Dago Pauline.
4311,1053788,3425,101,funded,2016-04-18T14:57:18Z,3425,27,ZA,Services,Zwelakhe (34) is a father of two young girls (...,to buy a large format printing machine.
760,1536691,725,21,expired,NaN,525,15,CM,Retail,Joseph is a 35-year old single man. He has bee...,to buy pallets of fish and fresh food stuffs.
2733,1527174,275,10,funded,2018-05-30T17:11:26Z,275,13,MW,Food,Grace is a 24-year-old entrepreneur who lives ...,To buy more goods for her business and provide...
5863,1570642,200,7,funded,2018-07-22T00:06:57Z,200,14,ZW,Services,Chipo is a 21-year-old entrepreneur who lives ...,to buy her own machine and sew more clothes to...
3505,1553510,8750,212,funded,2018-07-23T15:16:18Z,8750,6,RW,Clothing,"Greetings from Rwanda! This is INKUNGA CB, a g...",to buy more shoes to sell at the market to mee...
2486,1565419,150,6,funded,2018-07-19T14:17:00Z,150,9,MG,Retail,Maminiaina thanks you all for enabling her pre...,to buy a bundle of second-hand shoes to resell.
1951,1571324,500,0,fundraising,NaN,0,14,KE,Agriculture,Victoria is 35 years old. She is married and b...,"to buy seedlings for kale, spinach, carrots, etc."
1467,1566274,425,10,funded,2018-07-13T16:24:15Z,425,10,GH,Food,Dorcas is a 22-year-old entrepreneur who lives...,to start her own business selling bread and do...
4530,797330,300,12,funded,2014-11-24T22:49:07Z,300,6,SS,Retail,"Tabith is 34 years old, a single mother with t...",to buy more items to sell to her customers.
3847,1570455,275,11,funded,2018-07-23T12:01:08Z,275,12,SL,Food,Meet 40-year-old Rosaline from OIC Ropolo nort...,to purchase different kinds of assorted drinks...
2474,1567058,275,7,funded,2018-07-22T04:05:53Z,275,8,MG,Services,Louisette thanks all Kiva lenders for their tr...,to buy two hair straighteners and various cosm...
678,1558152,275,11,funded,2018-07-19T01:10:30Z,275,15,CM,Retail,"Bakari is a 31 year old man, separated from hi...",to buy meat.
1520,1565423,950,33,funded,2018-07-19T11:17:45Z,950,10,GH,Manufacturing,Edem couldn’t continue his education after com...,"to buy wood, nails, polish, glue, and other ca..."
1374,1540636,575,22,funded,2018-06-04T23:46:15Z,575,14,EG,Services,"Mina is 26, married to a housewife and has one...",to buy waste from houses.
4932,1561762,275,8,funded,2018-07-09T16:52:11Z,275,9,TG,Retail,"Esse is a married woman, 32 years old, living ...",to pay for 2 bales of sponges.
5915,1570649,2550,6,fundraising,NaN,150,8,ZW,Clothing,Elizabeth is a 45-year-old married mother of 3...,"to buy more clothes, shoes, and bags to expand..."
586,1012423,3900,125,funded,2016-02-23T14:38:27Z,3900,8,BI,Retail,Mattieu is part of the Iteka group and lives i...,to add to his resources and to buy a large qua...
1434,1571599,1850,2,fundraising,NaN,50,12,GH,Services,Mariama a hardworking woman representing the U...,"to buy more wigs, weaves, and cosmetic items t..."
259,1561529,775,29,funded,2018-07-12T18:44:43Z,775,8,BF,Agriculture,Mrs Lamoussa is responsible for the Teegawende...,to buy 6 bags of fertilizer.
1753,17608,950,36,funded,2007-09-06T02:55:18Z,950,14,CI,Agriculture,Lohoure O. is a 49 years old widowed woman. Sh...,Lohoure Odio will use the loan to purchase pig...
3591,1549016,4625,7,expired,NaN,175,26,RW,Retail,"Emmanuel, 29, is married father of 3 children ...","to buy more sugar, salt, rice, and Colgate to ..."
3514,1555178,6575,90,funded,2018-07-23T18:53:57Z,6575,6,RW,Retail,Greetings from Rwanda! This is ABADACOGORA Cb ...,to buy more charcoal to sell at the market to ...
4644,1570544,100,3,funded,2018-07-21T15:05:34Z,100,7,TZ,Food,Yusta is 21 years old and lives with her paren...,to add more items to her shop inventory.
1056,1542324,2400,41,funded,2018-07-01T00:31:01Z,2400,6,CD,Retail,Madam Adeline is Larhansima group's representa...,to buy two bales of used clothing including tr...
3950,1563068,1000,6,fundraising,NaN,150,14,SL,Retail,"Meet Rugiatu, she is a 45-year-old from Waterl...","to purchase food containers, drinks and biscui..."
241,1559160,1250,24,funded,2018-07-05T09:29:13Z,1250,14,BF,Clothing,Ms. Tene is married and has two children. Her ...,to pay 20 sets of traditional fabric.
5979,1569274,200,8,funded,2018-07-19T14:27:26Z,200,14,ZW,Food,Patricia is a 19-year-old entrepreneur who liv...,to start her own business buying and selling g...
5106,1571482,225,9,funded,2018-07-22T22:40:08Z,225,14,UG,Agriculture,Justine is 21 years old and lives in the town ...,to grow more cassava and green bananas and to ...
5904,1570555,200,8,funded,2018-07-23T10:46:12Z,200,14,ZW,Clothing,Tracy is a 19-year-old entrepreneur who lives ...,to buy more stock for her business.

# Appendix code

In [76]:
def wm2df(wm, feat_names):
    # create an index for each row
    doc_names = ['Doc{:d}'.format(idx) for idx, _ in enumerate(wm)]
    df = pd.DataFrame(data=wm.toarray(), index=doc_names,
                      columns=feat_names)
    return(df)

In [38]:
# retrieve the terms found in the corpora
tokens = vectorizer.get_feature_names()

# create a dataframe from the matrix
wm2df(test_features, tokens)

,&,','','ll,'pagne,'s,(,),",",",10",...,zamble,zealous,zimbabwe,zinc,zippers,zitenje,zucchini,’,“,”
Doc0,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Doc1,0,0,0,0,0,2,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
Doc2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc3,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
Doc4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc5,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Doc6,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Doc7,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Doc8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc10,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Doc11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc18,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Doc19,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
Doc20,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Doc21,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Doc22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc25,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
Doc26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Doc1106,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Doc1107,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Doc1108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1110,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
Doc1111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1112,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Doc1113,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Doc1114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1117,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1119,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1121,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Doc1122,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Doc1123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1124,0,1,0,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
Doc1125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1128,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1129,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Doc1130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Doc1135,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0

Sources: https://towardsdatascience.com/multi-class-text-classification-with-scikit-learn-12f1e60e0a9f, https://stackoverflow.com/questions/29067434/using-sklearn-logistic-regression-on-new-text-when-countvectorizer-has-been-used![image.png](attachment:image.png), https://towardsdatascience.com/hacking-scikit-learns-vectorizers-9ef26a7170af